#       Copyright 2017-2021 IBM Corp, All Rights Reserved
#       Copyright 2022-2025 Kyndryl, All Rights Reserved

#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at

#       http://www.apache.org/licenses/LICENSE-2.0

#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# Default values for stocktrader.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  auth: basic
  monitoring: true
  opentelemetry:
    disable: true
    agent:
      enabled: false
      image:
        repository: ghcr.io/ibmstocktrader/opentelemetry-collector
        tag: latest
    collector:
      replicas: 1
      endpoint: http://{{ .Release.Name }}-otel-collector:4317
      # By default, the OpenTelemetry Collector Contrib image is used if the environment variable is set.
      # image:
      #   repository: otel/opentelemetry-collector
      #   tag: latest
      backends:
        # The kind directly translates to the exporter type in the OpenTelemetry Collector configuration.
        - kind: azuremonitor
          secretName: "{{ .Release.Name }}-azuremonitor-secrets"
        # - kind: googlecloud
        #   secretName: "{{ .Release.Name }}-googlecloud-secrets"
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 5
      targetCPUUtilizationPercentage: 80
      targetMemoryUtilizationPercentage: 80
    serviceName: trader
    logExporter: otlp
    metricExporter: otlp
    traceExporter: otlp
  ingress: false
  route: false
  healthCheck: true
  disableLogFiles: false
  jsonLogging: false
  traceSpec: "*=info"
  environment: development
  cqrs: false
  istio: false
  istioNamespace: istio-system
  istioIngress: ingressgateway
  istioEgress: egressgateway
  externalConfigMap: false
  configMapName: "{{ .Release.Name }}-config"
  externalSecret: false
  secretName: "{{ .Release.Name }}-credentials"
  proxyServer: false
  proxyServerAddress: <your proxy URL>
  pullSecret: false
  pullSecretName: <your pull secret>
  specifyCerts: false
  certs: <your SSL certificates>
database:
  type: internal
  kind: postgres
  id: stocktrader
  password: changeme
  external:
    secretName: <your secret name>
    host: <your database host>
    port: 5432
    db: trader
    id: <your database user>
    password: <your database password>
    ssl: false
broker:
  image:
    repository: stocktraderotel.azurecr.io/broker
    tag: latest
portfolio:
  image:
    repository: stocktraderotel.azurecr.io/portfolio
    tag: updated
stockQuote:
  image:
    repository: ghcr.io/ibmstocktrader/stock-quote
    tag: 1.0.0
  apiConnect: https://api.us.apiconnect.ibmcloud.com/jalcornusibmcom-dev/sb/stocks
  iexTrading: https://cloud.iexapis.com/stable/stock
  iexApiKey: <your IEX API key>
  encryption:
    class: noneEncryptor
    saltBytes: <salt bytes generated>
    password: <encryption password>
trader:
  enabled: true
  image:
    repository: stocktraderotel.azurecr.io/trader
    tag: latest
  whiteLabelHeaderImage: header.jpg
  whiteLabelFooterImage: footer.jpg
  whiteLabelLoginMessage: Log in to Stock Trader
tradr:
  enabled: false
  image:
    repository: ghcr.io/ibmstocktrader/tradr
    tag: 1.0.0
cashAccount:
  enabled: false
  image:
    repository: ghcr.io/ibmstocktrader/cash-account
    tag: 1.0.0
  exchangeRateUrl: https://api.frankfurter.app/latest
account:
  enabled: false
  image:
    repository: ghcr.io/ibmstocktrader/account
    tag: 1.0.0
messaging:
  enabled: false
  image:
    repository: ghcr.io/ibmstocktrader/messaging
    tag: 1.0.0
notificationSlack:
  enabled: false
  image:
    repository: ghcr.io/ibmstocktrader/notification-slack
    tag: 1.0.0
notificationTwitter:
  enabled: false
  image:
    repository: ghcr.io/ibmstocktrader/notification-twitter
    tag: 1.0.0
tradeHistory:
  enabled: false
  image:
    repository: ghcr.io/ibmstocktrader/trade-history
    tag: 1.0.0
looper:
  enabled: false
  image:
    repository: ghcr.io/ibmstocktrader/looper
    tag: 1.0.0
jwt:
  issuer: http://stock-trader.ibm.com
  audience: stock-trader
oidc:
  clientId: <your client id>
  clientSecret: <your client secret>
  discoveryUrl: <your discovery endpoint URL>
  jwksUrl: <your JSON web key set url>
ldap:
  host: bluepages.ibm.com
  port: 389
  baseDN: o=ibm.com
  realm: BluePages
vault:
  enabled: false
  path: <path to Vault secrets>
  role: <Vault auth role>
  jwtPath: /var/run/secrets/kubernetes.io/serviceaccount
watson:
  id: apikey
  passwordOrApiKey: <your API key>
  url: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21&sentences=false
odm:
  id: odmAdmin
  password: odmAdmin
  url: http://odmtrader1-ibm-odm-dev:9060/DecisionService/rest/ICP_Trader_Dev_1/determineLoyalty
mq:
  kind: ibm-mq
  host: mqtrader1-mqtrader1
  port: 1414
  id: app
  password: ""
  queueManager: stocktrader
  queue: NotificationQ
  channel: DEV.APP.SVRCONN
  url: <your mq url>
redis:
  urlWithCredentials: redis://<your credentials>@redistrader1-ibm-redis-ha-dev-master-svc:6379
  cacheInterval: 60
openwhisk:
  id: <your id>
  password: <your password>
  url: https://openwhisk.ng.bluemix.net/api/v1/namespaces/jalcorn%40us.ibm.com_dev/actions/PostLoyaltyLevelToSlack
twitter:
  consumerKey: <your consumer key>
  consumerSecret: <your consumer secret>
  accessToken: <your access token>
  accessTokenSecret: <your access token secret>
kafka:
  kind: ibm-event-streams
  address: <your Kafka proxy service>:30000
  brokerTopic: broker
  portfolioTopic: portfolio
  accountTopic: account
  cashAccountTopic: cash-account
  saslMechanism: PLAIN
  saslConfig: <your sasl jaas config>
  historyTopic: history
  user: token
  apiKey: <your API key>
cloudant:
  url: <your Cloudant URL>
  host: <your Cloudant Hostname/IP>
  port: <your Cloudant port>
  id: <your Cloudant ID>
  password: <your Cloudant Password>
  database: <your Cloudant Account database name>
mongo:
  ip: <your Mongo IP>
  port: 27017
  user: <your Mongo user>
  password: <your Mongo password>
  database: <your Mongo database>
  connectionString: <your Mongo connection string>
  authDB: <your Mongo auth database>
s3:
  enabled: false
  bucket: stock-trader
  location: <your S3 location>
  endpointUrl: <your S3 endpoint URL>
  resourceInstanceId: <your S3 CRN>
  apiKey: <your S3 API Key>


# PostgreSQL subchart configuration
# https://github.com/bitnami/charts/tree/main/bitnami/postgresql
postgresql:
  enabled: true
  auth:
  # NOTE: Inject via secret in future releases
    username: stocktrader
    password: changeme
    database: trader
  primary:
    containerPorts:
      postgresql: 5432
    service:
      ports:
        postgresql: 5432
    persistence:
      enabled: true
      size: 2Gi
    initdb:
      scripts:
        create-schema-and-tables.sql: |
          -- Stock Trader Database Schema-
          CREATE TABLE IF NOT EXISTS Portfolio(
            owner VARCHAR(32) NOT NULL, 
            total DOUBLE PRECISION, 
            accountID VARCHAR(64), 
            PRIMARY KEY(owner)
          );
          
          CREATE TABLE IF NOT EXISTS Stock(
            owner VARCHAR(32) NOT NULL, 
            symbol VARCHAR(8) NOT NULL, 
            shares INTEGER, 
            price DOUBLE PRECISION, 
            total DOUBLE PRECISION, 
            dateQuoted VARCHAR(10), 
            commission DOUBLE PRECISION, 
            FOREIGN KEY (owner) REFERENCES Portfolio(owner) ON DELETE CASCADE, 
            PRIMARY KEY(owner, symbol)
          );
          
          CREATE TABLE IF NOT EXISTS cashaccount(
            owner VARCHAR(32) NOT NULL, 
            balance DOUBLE PRECISION, 
            currency VARCHAR(8), 
            PRIMARY KEY(owner)
          );
          
          -- Add currency constraint if it doesn't exist
          DO $$
          BEGIN
            IF NOT EXISTS (
              SELECT 1 FROM pg_constraint WHERE conname = 'allowed_currencies'
            ) THEN
              ALTER TABLE cashaccount ADD CONSTRAINT allowed_currencies 
              CHECK (currency IN (
                'AUD', 'BGN', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 
                'EUR', 'GBP', 'HKD', 'HUF', 'IDR', 'ILS', 'INR', 'ISK', 
                'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 
                'RON', 'SEK', 'SGD', 'THB', 'TRY', 'USD', 'ZAR'
              ));
            END IF;
          END$$; 
